<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Layout/plantilla}">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
<section layout:fragment="contenido">
    <div
            th:classappend="' pt-2 alert-' + (${clase != null} ? ${clase} : info)"
            th:if="${mensaje != null}" th:text="${mensaje}" class="alert">
    </div>
    <div class="table-responsive">
        <a class="btn btn-success my-2" th:href="@{/usuario/registrar}">Crear
            Usuario</a>
        <table
                class="table table-hover text-center table-bordered table-ligth py-3"
                style="vertical-align: middle;" id="tabla-usuario">
            <thead>
            <tr class="table-dark">
                <th>ID</th>
                <th>Email</th>
                <th>Password</th>
                <th>Roles</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="usuario:${usuarios}">
                <td th:text="${usuario.id}"></td>
                <td th:text="${usuario.email}"></td>
                <td th:text="${usuario.password}"></td>
                <td th:text="${usuario.roles}"></td>
                <td th:text="${usuario.estado}"></td>
                <td><a class="btn btn-primary btn-xs fa fa-pencil mx-1 icon-edit"
                       style="padding-inline: 7px;"
                       th:href="@{/usuario/editar/}+${usuario.id}"></a>
                    <a class="btn btn-danger btn-xs fa fa-trash mx-1 icon-delete"
                       id="btnEliminar"></a>
                    <input th:value="${usuario.id}" id="codigo" hidden/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<th:block layout:fragment="page-scripts">
    <script>
        $(document).ready(function () {
            $("tr #btnEliminar").click(function () {
                var id = $(this).parent().find("#codigo").val();
                console.log(id)
                Swal.fire({
                    title: 'Eliminar Registro',
                    text: "¿Está seguro que desea eliminar el usuario?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, eliminar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            title: 'Eliminar Registro',
                            text: "Usuario eliminado correctamente",
                            icon: 'info'
                        }).then((result) => {
                            location.href = "/usuario/eliminar/" + id;
                        })
                    } else {
                        Swal.fire("Cancelado", "Canceló la operación", "info");
                    }
                })
            })
        })
    </script>
</th:block>
</body>
</html>